* {
  all: unset;
  background: transparent;
  font-family: MartianMono Nerd Font;
}

window {
  background: transparent;
}

.container {
  padding: 0px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.3)0%, rgba(0,0,0,0.4)50%, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.7)100%);
  color: white;
  border-radius: 12px;

  border-style: solid;

  border-width: 2px;
  border-left-width: 1px;
  border-top-width: 1px;

  border-color: rgba(255,255,255,0.25);
  border-bottom-color: rgba(0,50,50,0.8);
  border-right-color: rgba(0,50,50,0.8);

  box-shadow: inset 0px 0px 12px rgba(0,0,0,0.25);
}

.button {
  padding: 5px;
}
.button:hover {
  background-color: rgba(129, 161, 193, 0.102);
  border-radius: 12px;
  transition-duration: 150ms;
}
.button:active {
  background-color: rgba(0,0,0,0.6);
  transition-duration: 150ms;
}

.background-menu {
  background: rgba(0,0,0,0.5)
}
